<!DOCTYPE html>
<html>
  <head>
    <title>Reports</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <style>
      .enlarged-image-container {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        z-index: 999;
      }
      
      .enlarged-image-container.show {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      
      .enlarged-image {
        max-width: 90%;
        max-height: 90%;
      }
    </style>
  </head>
  <body>
    <section>
      <div class="container">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Centre ID</th>
              <th scope="col">Description</th>
              <th scope="col">Rphoto</th>
              <th scope="col">Title</th>
              <th scope="col">Date</th>
              <th scope="col">Report ID</th>
            </tr>
          </thead>
          <tbody>
            <% if (record.length > 0) { %>
              <% record.forEach(function(row) { %>
                <tr>
                  <td><%= row.centreId %></td>
                  <td><%= row.description %></td>
                  <td>
                    <% row.Rphoto.forEach(function(photo) { %>
                      <img class="thumbnail" style="height: 50px; width: 50px; margin-bottom:20px;cursor: pointer;" src="./uploads/<%= photo %>" alt="Product Image" data-src="./uploads/<%= photo %>">
                    <% }); %>
                  </td>
                  <td><%= row.title %></td>
                  <td><%= row.reportId %></td>
                  <td><%= row.date %></td>
                </tr>
              <% }); %>
            <% } %>
          </tbody>
        </table>
      </div>
    </section>

    <div id="enlarged-image-container" class="enlarged-image-container">
      <img id="enlarged-image" src="" alt="Enlarged Image">
    </div>
    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
      $(document).ready(function() {
        $(".thumbnail").on("click", function() {
          var imageUrl = $(this).data("src");
          $("#enlarged-image").attr("src", imageUrl);
          $("#enlarged-image-container").addClass("show");
        });
        
        $("#enlarged-image-container").on("click", function() {
          $("#enlarged-image-container").removeClass("show");
        });
      });
    </script>
  </body>
</html>
